.game-board {
  width:1100px;
  margin-left: 20%;
}

.col-md-1 {
  border: 1px solid black;
  height: 72px;
  width: 72px;
}

#number {
  color: red;
  font-size: 20px;
}

.notClicked {
  display: none;
  background-color: white;
}

.isClicked {
  color: grey;
}
